@import "yakuhanjp";
@tailwind base;
@tailwind components;
@tailwind utilities;

body,
form,
fieldset {
  margin: 0;
  padding: 0;
  -webkit-text-size-adjust: none;
}

body {
  color: #000;
  background-color: #ffffff;
  font-family: YakuHanJP, "Noto Sans JP", "Hiragino Kaku Gothic Pro",
    "ヒラギノ角ゴ Pro W3", "メイリオ", Meiryo, Verdana, "ＭＳ Ｐゴシック",
    "MS P Gothic", san-serif;
  line-height: 1;
  letter-spacing: 0.03em;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

main {
  flex: 1 0 auto;
}
main {
  display: block;
  /* max-width: 780px; */
  margin: 0 auto;
  width: 100%;
}

html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

h3 {
  display: block;
  font-size: 1.17em;
  /* margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px; */
  font-weight: bold;
}

/* バナー */
main .lead_sec {
  background-color: #000;
  padding: 48px 0;
  color: #fff;
  text-align: center;
  position: relative;
}

main .lead_sec h3 {
  font-size: clamp(16px, 5vw, 24px);
  text-align: center;
  line-height: 2;
  margin-bottom: clamp(18px, 4vw, 24px);
  letter-spacing: 0.05em;
}

.c-anim-up {
  transform: translate(0, 50px);
  opacity: 0;
  transition: 0.8s ease-out;
}

.move {
  transform: translate(0, 0);
  opacity: 1;
}

main .lead_sec::before {
  content: "";
  background: url(/obi_catch.png) repeat-x center top / contain;
  width: 100%;
  height: 20px;
  position: absolute;
  top: 0;
  left: 0;
}

main .lead_sec::after {
  content: "";
  background: url(/obi_catch.png) repeat-x center bottom / contain;
  width: 100%;
  height: 20px;
  position: absolute;
  bottom: 0;
  left: 0;
}

main .lead_sec p {
  font-size: 15px;
  font-weight: 600;
  line-height: 2;
}

/* p span {
  display: block;
  font-weight: 800;
  padding: 12px 0;
} */

/* ニュース */
main .news_sec {
  background-color: #fff;
  color: #000;
  padding: 72px 0 36px;
  position: relative;
}

main .news_sec::after {
  content: "";
  background-color: #000;
  height: 36px;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

main .news_sec .container2 {
  padding: 0 10%;
  max-width: 780px;
  text-align: center;
}

.container2 {
  padding-left: 20px;
  padding-right: 20px;
}

.container2 {
  max-width: 1300px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 50px;
  padding-right: 50px;
  box-sizing: border-box;
}

main .news_sec .container2 h3 {
  font-size: 15px;
  font-family: "Barlow";
  font-weight: 600;
  letter-spacing: 0.05em;
  text-align: center;
  border-bottom: 3px solid #000;
  margin-bottom: 12px;
  padding: 0 10px 3px;
  display: inline-block;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1;
}

main .news_sec .container2 dl {
  text-align: left;
  display: flex;
  margin-bottom: 3px;
}

blockquote,
li,
dt,
dd {
  margin: 0;
  padding: 0;
}

main .news_sec .container2 dl {
  text-align: left;
  display: flex;
  margin-bottom: 3px;
}

main .news_sec .container2 dl dt {
  margin-right: 12px;
  font-size: 14px;
  font-weight: 600;
}

main .news_sec .container2 dl dd {
  font-size: 14px;
  font-weight: 600;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
pre,
blockquote,
ul,
li,
ol,
dl,
dd,
tr {
  font-size: 16px;
  line-height: 1.5;
}

main .news_sec .container2 dl {
  text-align: left;
  display: flex;
  margin-bottom: 3px;
}

/* Contact */
main .cont_sec {
  background-color: #fff;
  padding: 60px 24px;
  text-align: center;
  position: relative;
}

main .cont_sec h4 {
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 8px;
}

main .cont_sec p {
  font-size: 14px;
  font-weight: 600;
}

a.tel {
  pointer-events: none;
  cursor: default;
}

a {
  color: #000;
  text-decoration: none;
  transition: 0.3s;
}

main .cont_sec p span .link {
  border-bottom: 1px solid #000;
  margin-bottom: 1px;
  display: inline-block;
  transition: 0.3s;
}

/* 検索 */
main .atte_sec {
  background-color: #a0a0a0;
  color: #fff;
  padding: 48px 0 96px;
  position: relative;
}

main .atte_sec .container2 {
  max-width: 780px;
}

main .atte_sec .container2 h4 {
  font-size: 16px;
  font-weight: 600;
  border-bottom: 1px solid #fff;
  padding-bottom: 8px;
  margin-bottom: 12px;
  text-align: center;
}

main .atte_sec .container2 ul {
  display: grid;
  grid-template-columns: 1fr 120px;
  gap: 0 40px;
}

main .atte_sec .container2 ul li span {
  font-size: 12px;
  display: block;
  margin-bottom: 6px;
  margin-left: 12px;
  text-indent: -12px;
}

main .atte_sec .container2 ul li .mei02 {
  width: 120px;
  position: relative;
  bottom: -22px;
  right: -12px;
}

img[src$=".png"],
img[src$=".jpg"] {
  backface-visibility: hidden;
}

/* 一覧 */
main .good_sec {
  padding: 0 0 60px;
}

main .good_sec {
  text-align: center;
  padding: 0 0 36px;
  background: url(/bg_mono.png) repeat center bottom / contain;
  width: 100%;
}

main .good_sec h3 {
  font-size: 15px;
  font-family: "Barlow";
  font-weight: 600;
  background-color: #000;
  box-sizing: border-box;
  letter-spacing: 0.05em;
  color: #fff;
  margin-bottom: 24px;
  padding: 0 10px 3px;
  display: block;
  padding: 12px 12px 24px;
  position: relative;
  width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1;
}

main .good_sec h3::after {
  content: "";
  border-bottom: 3px solid #fff;
  display: inline-block;
  width: 50px;
  position: absolute;
  bottom: 18px;
  left: 50%;
  transform: translateX(-50%);
  padding: 0 10px;
}

main .good_sec .inner {
  text-align: center;
  max-width: 780px;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  padding-left: 50px;
  padding-right: 50px;
  box-sizing: border-box;
  margin-bottom: 20px;
}

main .good_sec .inner .bg {
  background-color: #fff;
  padding: 18px;
  margin-inline: auto;
  width: 90%;
}

main .good_sec .inner h4 {
  font-size: 32px;
  padding: 50px 0 15px 0;
  font-weight: bold;
}

main .good_sec .inner p.p1 {
  text-align: center;
  font-weight: bold;
  color: #000;
  font-size: 16px;
  padding: 0 0 50px 0;
  line-height: 1.8;
}

main .good_sec p {
  font-size: 13px;
  font-weight: 600;
  color: #fff;
  text-align: center;
  margin-top: 8px;
  position: relative;
  z-index: 1;
}

main .good_sec .inner h5 {
  background-color: #000;
  color: #fff;
  font-size: 16px;
  height: 32px;
  line-height: 31px;
  border-radius: 2px;
  margin-bottom: 20px;
  font-weight: bold;
}

main .good_sec .inner div.fig1 {
  padding: 0 0 60px 0;
}

main .good_sec p {
  font-size: 13px;
  font-weight: 600;
  color: #fff;
  text-align: center;
  margin-top: 8px;
  position: relative;
  z-index: 1;
}

main .good_sec::after {
  content: "";
  background: url(/obi_catch.png) repeat-x center bottom / contain;
  width: 100%;
  height: 20px;
  position: absolute;
  bottom: 0;
  left: 0;
}

/* 料理詳細 */
main .tick_sec {
  background-color: #515151;
  color: #fff;
  padding: 48px 0 60px;
}

main .tick_sec .container2 {
  text-align: center;
  max-width: 780px;
  position: relative;
}

main .tick_sec .container2 h3 {
  font-size: 15px;
  font-family: "Barlow";
  font-weight: 600;
  letter-spacing: 0.05em;
  text-align: center;
  border-bottom: 3px solid #fff;
  margin-bottom: 24px;
  padding: 0 10px 3px;
  display: inline-block;
}

main .tick_sec .container2 .txt_price {
  font-size: 22px;
  font-weight: 600;
  letter-spacing: 0.08em;
  margin-bottom: 24px;
  position: relative;
  z-index: 1;
}

main .tick_sec .container2 ul {
  position: relative;
  z-index: 1;
}

main .tick_sec .container2 ul li:last-child {
  margin-bottom: 0;
}

main .tick_sec .container2 ul li {
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 24px;
}

main .tick_sec .container2 ul li dl {
  background-color: #fff;
  padding: 18px;
  margin-inline: auto;
  width: 90%;
}

main .tick_sec .container2 ul li dl dt {
  background-color: #000;
  color: #fff;
  font-size: 16px;
  height: 32px;
  line-height: 31px;
  border-radius: 2px;
  margin-bottom: 8px;
}

main .tick_sec .container2 ul li dl dd.soldout {
  color: #cc0000;
  font-size: 30px;
  line-height: 1.2;
  padding: 10px 0;
}

main .tick_sec .container2 .txt_atte_ticket {
  padding: 24px 18px 0;
  padding-top: 24px;
  padding-left: 18px;
  padding-right: clamp(18px, 30vw, 60px);
}

main .tick_sec .container2 .txt_atte_ticket span {
  font-size: 12px;
  margin-bottom: 3px;
  margin-left: 12px;
  text-indent: -12px;
  display: block;
  text-align: justify;
}

main .tick_sec .container2 .mei01 {
  position: absolute;
  top: -93px;
  left: 18px;
  width: 84px;
}

main .tick_sec .container2 dl dd .details {
  color: black;
  font-size: 12px;
  text-align: left;
  text-indent: -1em;
  margin: 0 0 6px 1em;
}

.delay2 {
  -moz-transition-delay: 600ms;
  -webkit-transition-delay: 600ms;
  -o-transition-delay: 600ms;
  -ms-transition-delay: 600ms;
}

/* footer */
footer {
  background: #000;
}

footer .footer_inner {
  max-width: 780px;
  margin-inline: auto;
  padding: 48px 18px;
  position: relative;
}

footer .footer_inner dl {
  margin-bottom: 30px;
}

.delay1 {
  -moz-transition-delay: 300ms;
  -webkit-transition-delay: 300ms;
  -o-transition-delay: 300ms;
  -ms-transition-delay: 300ms;
}

footer .footer_inner dl dt {
  font-size: 14px;
  font-weight: 600;
  color: #fff;
  text-align: center;
  margin-bottom: 6px;
}

blockquote,
li,
dt,
dd {
  margin: 0;
  padding: 0;
}

footer .footer_inner dl dd ul {
  display: flex;
  justify-content: center;
  align-items: center;
}

footer .footer_inner dl dd ul li {
  max-width: 44px;
  margin: 0 6px;
  transition: 0.3s;
}

li {
  list-style: none;
}

footer .footer_inner dl dd ul li a {
  display: block;
  width: 44px;
}

a {
  color: #000;
  text-decoration: none;
  transition: 0.3s;
}

footer .footer_inner dl dd ul li a img {
  width: 100%;
}

img {
  max-width: 100%;
  height: auto;
}

img {
  margin: 0px;
  padding: 0px;
  border: 0px;
  vertical-align: bottom;
}

footer .footer_inner .txt_corp {
  color: #fff;
  font-size: 14px;
  font-weight: 600;
  line-height: 2.2;
  text-align: center;
}

footer .footer_inner .txt_corp span {
  display: block;
}

footer .footer_inner .txt_copy {
  color: #fff;
  font-size: 11px;
  font-weight: 600;
  text-align: center;
  margin-top: 8px;
}

footer .footer_inner .obj04 {
  position: absolute;
  top: -44px;
  right: 20px;
  width: 100px;
}

footer .footer_inner .obj05 {
  position: absolute;
  top: 300px;
  left: 20px;
  width: 82px;
}
